{% extends 'layout.html' %}
{% block title %}Login - Flask ToDo{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h3>Login</h3>
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.email.label }} {{ form.email(class_='form-control') }}
      </div>
      <div class="mb-3">
        {{ form.password.label }} {{ form.password(class_='form-control') }}
      </div>
      <div class="mb-3">
        {{ form.submit(class_='btn btn-primary') }}
        <a href="{{ url_for('register') }}" class="btn btn-link">Register Here</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
